SERIES

In [127]:
import pandas as pd
import os 
os.getcwd()

'c:\\Users\\informatika\\Documents\\1letnik\\pd_course\\series_3'

In [128]:
ice_cream = ["chocolate", "vanilla", "chocolate_chip", "strawberry"]
pd.Series(ice_cream)

0         chocolate
1           vanilla
2    chocolate_chip
3        strawberry
dtype: object

In [129]:
lottery = [3,6,14,55,143]
pd.Series(lottery)

0      3
1      6
2     14
3     55
4    143
dtype: int64

In [130]:
reg = [True, False, False]
type(pd.Series(reg))

pandas.core.series.Series

In [131]:
s = {
    "samon" : "orange",
    "tuna" : "red", 
    "iyel" : "brown"
}
pd.Series(s)

samon    orange
tuna        red
iyel      brown
dtype: object

In [132]:
prices = pd.Series([2.99, 4.35, 5.12])
prices

0    2.99
1    4.35
2    5.12
dtype: float64

In [133]:
prices.sum()

12.46

In [134]:
prices.product()

66.59328

In [135]:
prices.mean()
prices.std()

1.0785329542175952

In [136]:
adj = pd.Series(["smart", "smart","handsome", "charming", "frank"])
adj

0       smart
1       smart
2    handsome
3    charming
4       frank
dtype: object

In [137]:
adj.size
adj.is_unique

False

In [138]:
adj.values

array(['smart', 'smart', 'handsome', 'charming', 'frank'], dtype=object)

In [139]:
fruits = ["apple", "orange", "grape", "watermelon"]
weekdays = ["Monday", "Tuesday", "Friday", "Monday"]

In [140]:
pd.Series(fruits, weekdays, name="LUka")["Monday"]

Monday         apple
Monday    watermelon
Name: LUka, dtype: object

In [141]:
pokemon = pd.read_csv(r"..\pandas\pandas\pokemon.csv", usecols=["Pokemon"]).squeeze()

In [142]:
google = pd.read_csv(r"..\pandas\pandas\google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [143]:
pokemon.head()
google.tail(n=10)

3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [144]:
len(pokemon)
type(google)
google.view()

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [145]:
sorted(google)
sorted(pokemon)
list(google)
dict(google)
max(google)
min(google)

49.95

In [146]:
pokemon.sort_values().head(3)
pokemon.sort_values(ascending=False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [147]:
pok = pd.read_csv(r"..\pandas\pandas\pokemon.csv", index_col="Pokemon").squeeze()

In [148]:
pok.sort_index(ascending=False)

Pokemon
Zygarde       Dragon
Zweilous        Dark
Zubat         Poison
Zorua           Dark
Zoroark         Dark
              ...
Aegislash      Steel
Accelgor         Bug
Absol           Dark
Abra         Psychic
Abomasnow      Grass
Name: Type, Length: 721, dtype: object

In [149]:
"Abra" in pokemon
43 in pokemon
"Abra" in pokemon.values

True

In [150]:
pokemon[[33,2,133]]
a = pd.Series(["a", "b"])
pokemon[33:-2]

33      Nidoking
34      Clefairy
35      Clefable
36        Vulpix
37     Ninetales
         ...
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
Name: Pokemon, Length: 686, dtype: object

In [151]:
pok["Bulbasaur"] == pok[0]
pok[["Bulbasaur", "Abra"]]
pok[["Abra", pok.index[33]]]

Pokemon
Abra        Psychic
Nidoking     Poison
Name: Type, dtype: object

In [152]:
pok.get(-1)
pok[[-2, -1]]
pok.get("Digimon", 42)
"Digimon" in pok
print(pok.get("Digimon"))

None

In [153]:
pokemon[0] = "Ash"
pokemon

0             Ash
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [154]:
pokemon[1200] = "Hello"
pokemon
pokemon[1200]

'Hello'

In [155]:
pokemon.index
pokemon[[1,2,4]] = ["Yes", "No", "Maybe"]
pokemon

0              Ash
1              Yes
2               No
3       Charmander
4            Maybe
           ...
717        Zygarde
718        Diancie
719          Hoopa
720      Volcanion
1200         Hello
Name: Pokemon, Length: 722, dtype: object

In [156]:
pok["Bulbasaur"] = "None"
pok[0]

'None'

In [157]:
pokemon_df = pd.read_csv(r"..\pandas\pandas\pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")

In [176]:
pokemon_series[0] = "Whatever"
pokemon_series.head()

0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [159]:
pokemon_df

        Pokemon
0      Whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [160]:
pokemon_df = pd.read_csv(r"..\pandas\pandas\pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [161]:
pokemon_series[0] = "Lol"

In [175]:
pokemon_df
#pokemon_series

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [169]:
google_series = google.copy()

In [173]:
google_series.sort_values(inplace=True)

In [174]:
google_series

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [189]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.median()
google.mode()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [194]:
((google - google.mean())/google.std()).std()

1.0

In [199]:
pok = pd.read_csv(r"..\pandas\pandas\pokemon.csv", index_col="Pokemon").squeeze()

In [206]:
pok.head(10)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Squirtle      Water
Wartortle     Water
Blastoise     Water
Caterpie        Bug
Name: Type, dtype: object

In [201]:
pok.value_counts()

Type
Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: count, dtype: int64

In [211]:
pok.value_counts(normalize=True)*100

Type
Water       14.563107
Normal      12.898752
Grass        9.153953
Bug          8.737864
Fire         6.518724
Psychic      6.518724
Rock         5.686546
Electric     4.993065
Ground       4.160888
Poison       3.883495
Dark         3.883495
Fighting     3.467406
Dragon       3.328710
Ghost        3.190014
Ice          3.190014
Steel        3.051318
Fairy        2.357836
Flying       0.416089
Name: proportion, dtype: float64

In [215]:
def funkcija(x):
    return x + "LOL"
pok.apply(func=funkcija)

Pokemon
Bulbasaur       GrassLOL
Ivysaur         GrassLOL
Venusaur        GrassLOL
Charmander       FireLOL
Charmeleon       FireLOL
                 ...
Yveltal          DarkLOL
Zygarde        DragonLOL
Diancie          RockLOL
Hoopa         PsychicLOL
Volcanion        FireLOL
Name: Type, Length: 721, dtype: object

In [218]:
def fix(niz):
    if niz in ["Fire", "Grass"]:
        return "Classic"
    if niz == "Normal":
        return "Boring"
    return "TBD"
pok.apply(fix)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

In [219]:
mappings = {"Grass" : "Classic",
            "Water" : "Classic", 
            "Fire" : "Classic", 
            "Normal" : "Boring"
            }
pok.map(mappings)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object

In [222]:
mappings_series = pd.Series(mappings)

In [223]:
pok.map(mappings_series)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object

-3              Ash
-2              Yes
-1               No
 0       Charmander
 1            Maybe
            ...
 714        Zygarde
 715        Diancie
 716          Hoopa
 717      Volcanion
 1197         Hello
Name: Pokemon, Length: 722, dtype: object