DATETIME VIII

In [2]:
import pandas as pd
import datetime as dt

In [3]:
some = dt.date(year=2016, month=4, day=12)

In [4]:
str(dt.datetime(2001, 4, 11, 15, 56, 11))
some_time = dt.datetime(2001, 4, 11, 15, 56, 11)

In [5]:
pd.Timestamp(2010, 3, 15)

Timestamp('2010-03-15 00:00:00')

In [6]:
pd.Timestamp("2010/04/11")
pd.Timestamp("2011-03-02")

Timestamp('2011-03-02 00:00:00')

In [7]:
pd.Timestamp(some_time)

Timestamp('2001-04-11 15:56:11')

In [8]:
dates = ["2000-04-15", "2014-05-25", "1970-11-05"]
ind = pd.DatetimeIndex(dates)

In [9]:
val = [23, 43, 66]
pd.Series(data=val, index=ind)

2000-04-15    23
2014-05-25    43
1970-11-05    66
dtype: int64

In [10]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.datetime(2001, 2, 12, 14, 2, 33))
pd.to_datetime(["1999/03/14", "1999/03/14"])

DatetimeIndex(['1999-03-14', '1999-03-14'], dtype='datetime64[ns]', freq=None)

In [11]:
dates = ["2001-09-11", "2023-09-13", "1999-10-10"]
s = pd.Series(dates)

In [12]:
pd.to_datetime(s)

0   2001-09-11
1   2023-09-13
2   1999-10-10
dtype: datetime64[ns]

In [13]:
whack = pd.Series(["July 4th, 2008", "October 1st, 2001", "Hello", "February 31st, 2008"])
pd.to_datetime(whack[:2])

ValueError: time data "October 1st, 2001" doesn't match format "%B %dth, %Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
pd.to_datetime([324133, 3112333, 33221], unit="s")

DatetimeIndex(['1970-01-04 18:02:13', '1970-02-06 00:32:13',
               '1970-01-01 09:13:41'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
times = pd.date_range(start="2001-10-21", end="2001-10-30", freq="D")
times[0]

Timestamp('2001-10-21 00:00:00')

In [ ]:
pd.date_range(start="2001-10-21", end="2001-10-30", freq="B")

DatetimeIndex(['2001-10-22', '2001-10-23', '2001-10-24', '2001-10-25',
               '2001-10-26', '2001-10-29', '2001-10-30'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
pd.date_range(start="2001-10-21", end="2001-11-13", freq="2B")

DatetimeIndex(['2001-10-22', '2001-10-24', '2001-10-26', '2001-10-30',
               '2001-11-01', '2001-11-05', '2001-11-07', '2001-11-09',
               '2001-11-13'],
              dtype='datetime64[ns]', freq='2B')

In [ ]:
pd.date_range(start="2001-10-21", end="2001-11-13", freq="W-FRI")

DatetimeIndex(['2001-10-26', '2001-11-02', '2001-11-09'], dtype='datetime64[ns]', freq='W-FRI')

In [ ]:
pd.date_range(start="2001-10-21", end="2031-11-13", freq="AS")

DatetimeIndex(['2002-01-01', '2003-01-01', '2004-01-01', '2005-01-01',
               '2006-01-01', '2007-01-01', '2008-01-01', '2009-01-01',
               '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01',
               '2014-01-01', '2015-01-01', '2016-01-01', '2017-01-01',
               '2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01',
               '2022-01-01', '2023-01-01', '2024-01-01', '2025-01-01',
               '2026-01-01', '2027-01-01', '2028-01-01', '2029-01-01',
               '2030-01-01', '2031-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [ ]:
pd.date_range(start="2012-09-09", periods=50, freq="B" )

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
pd.date_range(start="2012-09-09", end="2012-09-19", freq="2B")

DatetimeIndex(['2012-09-10', '2012-09-12', '2012-09-14', '2012-09-18'], dtype='datetime64[ns]', freq='2B')

In [ ]:
pd.date_range(start="2012-09-09", periods=50, freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [ ]:
pd.date_range(end="1999-12-31", periods=190, freq="7H")

DatetimeIndex(['1999-11-05 21:00:00', '1999-11-06 04:00:00',
               '1999-11-06 11:00:00', '1999-11-06 18:00:00',
               '1999-11-07 01:00:00', '1999-11-07 08:00:00',
               '1999-11-07 15:00:00', '1999-11-07 22:00:00',
               '1999-11-08 05:00:00', '1999-11-08 12:00:00',
               ...
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', length=190, freq='7H')

In [ ]:
times = pd.date_range(start="2000-1-1", end="2010-12-31", freq="24D")

In [ ]:
s = pd.Series(data=times)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [ ]:
s.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int32

In [ ]:
mask = s.dt.is_quarter_start

In [ ]:
s[mask]
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [ ]:
s[s.dt.is_leap_year].dt.year.value_counts()

2000    16
2004    16
2008    15
Name: count, dtype: int64

In [14]:
import pandas_datareader

In [15]:
from pandas_datareader import data 
stocks = data.DataReader(
    name="MSFT", data_source="stooq", start="2010-1-1", end="2020-12-31"
)

In [16]:
stocks

                Open      High       Low     Close        Volume
Date
2020-12-31  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...              ...       ...       ...       ...           ...
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 5 columns]

In [17]:
stocks.index

DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
               '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
               '2020-12-18', '2020-12-17',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [18]:
stocks.axes

[DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
                '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
                '2020-12-18', '2020-12-17',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

In [19]:
stocks = stocks.sort_index()
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07
2010-01-06  24.2642  24.4230  23.9852  24.1758  7.403254e+07

In [20]:
stocks.loc[[pd.Timestamp("2010-01-04")]]

               Open     High      Low    Close        Volume
Date
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07

In [21]:
stocks.iloc[-1]

Open      2.178220e+02
High      2.191040e+02
Low       2.158380e+02
Close     2.185280e+02
Volume    2.131555e+07
Name: 2020-12-31 00:00:00, dtype: float64

In [22]:
stocks.loc[[pd.Timestamp("2014-2-5"), pd.Timestamp("2015-5-28")]]

               Open     High      Low    Close        Volume
Date
2014-02-05  30.8303  30.9832  30.4134  30.4302  6.572165e+07
2015-05-28  42.0227  42.4835  41.9294  41.9790  2.179659e+07

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2929-12-12, at position 0

In [23]:
stocks.loc["2011-3-22":"2011-4-12"]

               Open     High      Low    Close        Volume
Date
2011-03-22  19.9039  20.0042  19.8265  19.8802  3.932459e+07
2011-03-23  19.8176  20.1234  19.7868  20.0687  5.595803e+07
2011-03-24  20.1333  20.3268  20.0389  20.2811  4.928208e+07
2011-03-25  20.3665  20.3914  20.1064  20.1333  7.257938e+07
2011-03-28  20.1711  20.2097  19.9417  19.9625  6.232000e+07
2011-03-29  19.9119  20.0559  19.8802  20.0301  5.187666e+07
2011-03-30  20.0986  20.2097  20.0389  20.1234  4.635916e+07
2011-03-31  20.1442  20.1779  19.9119  19.9486  8.046734e+07
2011-04-01  20.0469  20.0618  19.8872  20.0211  8.026090e+07
2011-04-04  19.9952  20.1641  19.9625  20.0757  4.509477e+07
2011-04-05  20.2881  20.5681  20.2217  20.2544  9.373193e+07
2011-04-06  20.4221  20.6763  20.3188  20.5453  8.344983e+07
2011-04-07  20.5453  20.6337  20.4073  20.5860  5.862001e+07
2011-04-08  20.5860  20.6505  20.4013  20.4828  5.074643e+07
2011-04-11  20.5770  20.6257  20.2732  20.4132  4.357470e+07
2011-04-12  20.2881  20.3101  20.0727  20.1451  4.698646e+07

In [24]:
stocks.truncate("2010-3-3", "2010-6-3")

               Open     High      Low    Close        Volume
Date
2010-03-03  22.4126  22.4783  22.2777  22.3631  6.161309e+07
2010-03-04  22.3481  22.5110  22.2141  22.4950  5.458180e+07
2010-03-05  22.5030  22.5358  22.3293  22.4633  7.126900e+07
2010-03-08  22.4058  22.7303  22.3968  22.4950  5.015984e+07
2010-03-09  22.4405  22.8733  22.4316  22.6310  6.397329e+07
...             ...      ...      ...      ...           ...
2010-05-27  20.2237  20.7150  20.2177  20.4311  1.734563e+08
2010-05-28  20.2891  20.5215  20.1641  20.2732  8.589685e+07
2010-06-01  20.0906  20.6763  20.0559  20.3438  9.687786e+07
2010-06-02  20.4698  20.8094  20.2177  20.7934  8.306176e+07
2010-06-03  20.8540  21.1639  20.7507  21.1042  8.628358e+07

[65 rows x 5 columns]

In [25]:
t = dt.timedelta(hours=1)
pd.date_range(start="2010-4-12", end="2020-1-1", freq=t)

DatetimeIndex(['2010-04-12 00:00:00', '2010-04-12 01:00:00',
               '2010-04-12 02:00:00', '2010-04-12 03:00:00',
               '2010-04-12 04:00:00', '2010-04-12 05:00:00',
               '2010-04-12 06:00:00', '2010-04-12 07:00:00',
               '2010-04-12 08:00:00', '2010-04-12 09:00:00',
               ...
               '2019-12-31 15:00:00', '2019-12-31 16:00:00',
               '2019-12-31 17:00:00', '2019-12-31 18:00:00',
               '2019-12-31 19:00:00', '2019-12-31 20:00:00',
               '2019-12-31 21:00:00', '2019-12-31 22:00:00',
               '2019-12-31 23:00:00', '2020-01-01 00:00:00'],
              dtype='datetime64[ns]', length=85225, freq='H')

In [ ]:
t

NameError: name 't' is not defined

In [26]:
import pandas as pd

In [30]:
mask = pd.date_range(start="2010-4-12", end="2019-12-31", freq=pd.DateOffset(years=1))

In [34]:
stocks.loc[stocks.index.isin(mask)]

                Open      High       Low     Close        Volume
Date
2010-04-12   23.7738   23.9594   23.7291   23.8254  4.717443e+07
2011-04-12   20.2881   20.3101   20.0727   20.1451  4.698646e+07
2012-04-12   24.6027   25.0545   24.5540   25.0068  4.745507e+07
2013-04-12   23.9882   24.1281   23.8293   23.9356  7.563946e+07
2016-04-12   49.0942   49.4625   48.5433   49.3474  2.634784e+07
2017-04-12   60.6262   60.7106   60.3403   60.4504  1.777855e+07
2018-04-12   87.4516   89.0898   87.4516   88.5418  2.828220e+07
2019-04-12  116.0740  116.3920  115.8160  116.3620  2.052278e+07

In [37]:
some_day = stocks.index[500]

In [47]:
some_day.day_name()

'Tuesday'

In [51]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2769)

In [52]:
stocks.insert(0, "Day of week", stocks.index.day_name())

In [55]:
dat = stocks.index.is_month_start

In [56]:
stocks.insert(loc=0, column="Is month start", value=dat)

In [59]:
stocks.loc[dat]

,Is month start,Day of week,Open,High,Low,Close,Volume
Date,,,,,,,
2010-02-01,True,Monday,22.3144,22.3809,21.9382,22.3234,1.092082e+08
2010-03-01,True,Monday,22.6053,22.8277,22.4196,22.8048,5.570803e+07
2010-04-01,True,Thursday,23.0619,23.2089,22.4861,22.9120,9.513903e+07
2010-06-01,True,Tuesday,20.0906,20.6763,20.0559,20.3438,9.687786e+07
2010-07-01,True,Thursday,18.1428,18.3235,17.8589,18.1964,1.173523e+08
...,...,...,...,...,...,...,...
2020-06-01,True,Monday,178.4290,178.8860,177.3870,178.7180,2.318935e+07
2020-07-01,True,Wednesday,198.5920,201.7210,197.2420,200.1020,3.279741e+07
2020-09-01,True,Tuesday,220.9700,222.8960,219.9170,222.7170,2.631985e+07
2020-10-01,True,Thursday,209.1950,209.6820,207.0900,208.2030,2.771505e+07
2020-12-01,True,Tuesday,210.7540,213.5230,209.6020,212.4220,3.148286e+07

In [71]:
s = stocks.index
delta = pd.DateOffset(days=5)
stocks.index - pd.DateOffset(days=5)

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2020-12-12', '2020-12-13', '2020-12-16', '2020-12-17',
               '2020-12-18', '2020-12-19', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [73]:
stocks.index + pd.DateOffset(months=2)

DatetimeIndex(['2010-03-04', '2010-03-05', '2010-03-06', '2010-03-07',
               '2010-03-08', '2010-03-11', '2010-03-12', '2010-03-13',
               '2010-03-14', '2010-03-15',
               ...
               '2021-02-17', '2021-02-18', '2021-02-21', '2021-02-22',
               '2021-02-23', '2021-02-24', '2021-02-28', '2021-02-28',
               '2021-02-28', '2021-02-28'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [76]:
stocks.index + pd.DateOffset(years=3, months=1, days=23, hours=3, minutes=22)

DatetimeIndex(['2013-02-27 03:22:00', '2013-02-28 03:22:00',
               '2013-03-01 03:22:00', '2013-03-02 03:22:00',
               '2013-03-03 03:22:00', '2013-03-06 03:22:00',
               '2013-03-07 03:22:00', '2013-03-08 03:22:00',
               '2013-03-09 03:22:00', '2013-03-10 03:22:00',
               ...
               '2024-02-09 03:22:00', '2024-02-10 03:22:00',
               '2024-02-13 03:22:00', '2024-02-14 03:22:00',
               '2024-02-15 03:22:00', '2024-02-16 03:22:00',
               '2024-02-20 03:22:00', '2024-02-21 03:22:00',
               '2024-02-22 03:22:00', '2024-02-23 03:22:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [83]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [84]:
from pandas.tseries import offsets

In [85]:
stocks.index + offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [86]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [88]:
stocks.index - offsets.YearBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [91]:
timeA = pd.Timestamp("2020-3-31")
timeB = pd.Timestamp("2020-3-20")
timeA - (timeA - timeB)
timeB - timeA

Timedelta('-11 days +00:00:00')

In [96]:
timeB + pd.Timedelta(days=2, hours=21, minutes=45, milliseconds=123, weeks=3)

Timestamp('2020-04-12 21:45:00.123000')

In [98]:
timeB + pd.DateOffset(years=2)

Timestamp('2022-03-20 00:00:00')

In [100]:
pd.Timedelta("2 days, 3 hours, 4 minutes, 3 seconds")

Timedelta('2 days 03:04:03')

In [103]:
df = pd.read_csv(r"pandas\pandas\ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])

df

C:\Users\informatika\AppData\Local\Temp\ipykernel_12484\1757046717.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(r"pandas\pandas\ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
C:\Users\informatika\AppData\Local\Temp\ipykernel_12484\1757046717.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(r"pandas\pandas\ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 11.7 KB

In [112]:
df.head(3)
df["duration"] = df["delivery_date"] - df["order_date"]

df

    order_date delivery_date  duration
ID
1   1998-05-24    1999-02-05  257 days
2   1992-04-22    1998-03-06 2144 days
4   1991-02-10    1992-08-26  563 days
5   1992-07-21    1997-11-20 1948 days
7   1993-09-02    1998-06-10 1742 days
..         ...           ...       ...
990 1991-06-24    1996-02-02 1684 days
991 1991-09-09    1998-03-30 2394 days
993 1990-11-16    1998-04-27 2719 days
994 1993-06-03    1993-06-13   10 days
997 1990-01-04    1991-10-03  637 days

[501 rows x 3 columns]

In [113]:
df

    order_date delivery_date  duration
ID
1   1998-05-24    1999-02-05  257 days
2   1992-04-22    1998-03-06 2144 days
4   1991-02-10    1992-08-26  563 days
5   1992-07-21    1997-11-20 1948 days
7   1993-09-02    1998-06-10 1742 days
..         ...           ...       ...
990 1991-06-24    1996-02-02 1684 days
991 1991-09-09    1998-03-30 2394 days
993 1990-11-16    1998-04-27 2719 days
994 1993-06-03    1993-06-13   10 days
997 1990-01-04    1991-10-03  637 days

[501 rows x 3 columns]

In [117]:
df["twice_as_long"] = df["delivery_date"] + df["duration"]

In [123]:
mask = df["duration"] > pd.Timedelta(days=3000)

In [126]:
df["duration"].max()

Timedelta('3583 days 00:00:00')

In [ ]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}